/* Estilos para el formulario de Mailchimp */
#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  margin: 0;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 100%;
  padding-bottom: 3%;
  min-height: 50px;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 12px;
  text-indent: 2%;
  border: 1px solid #444;
  border-radius: 5px;
  background: #0c1a10;
  color: #fff;
  font-size: 0.9rem;
}

#mc_embed_signup .mc-field-group input::placeholder {
  color: #888;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #8B4513;
  border: 0 none;
  border-radius: 5px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 0 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

#mc_embed_signup .button:hover {
  background-color: #A0522D;
}

#mc_embed_signup h2 {
  display: none;
}

#mc_embed_signup .indicates-required {
  display: none;
}