* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  cursor: url('https://i.postimg.cc/Y905b6wg/cur-removebg-preview-1-1.png'), auto;
}
/*
opciones de cursores
1) https://i.postimg.cc/zvj0kJrL/curso2-1.png
2)https://i.postimg.cc/7PVVdYF7/cruso3-2.png
3)https://i.postimg.cc/4y6FFrDc/Sin-t-tulo-Editado-1.png
*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Animaciones generales */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.slide-up {
  animation: slideUp 1s ease-out;
}

.App {
  min-height: 100vh;
}